body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.valleyAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 
.landna {
  width: 200px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight:normal;

}
.style{
  color:greenyellow;
  background-color: blue;
  color: blanchedalmond
}
